## 3-1 Accuracy 정확도

In [2]:
import numpy as np
from sklearn.base import BaseEstimator
class MyDummyClassifier(BaseEstimator):
    # fit() 메서드는 아무것도 학습하지 않음
    def fit(self, X, y=None):
        pass
    
    # predict() 메서드는 단순히 Sex 피처가 1이면 0, 그렇지 않으면 1로 예측함
    def predict(self, X):
        pred = np.zeros((X.shape[0], 1))
        for i in range(X.shape[0]):
            if X['Sex'].iloc[i]==1:
                pred[i]=0
                
            else:
                pred[i]=1
                
        return pred

In [5]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import  accuracy_score

titanic = pd.read_csv('./train.csv')

In [6]:
titanic.head(1)

   PassengerId  Survived  Pclass  ...  Fare Cabin  Embarked
0            1         0       3  ...  7.25   NaN         S

[1 rows x 12 columns]